/nbproject/private/
/.buildpath
/.project
/.settings
/dealclasses
/nbproject
/.buildpath
/.project
/.settings
/puidata/temp_session/*
/puidata/page_plugin/api_files/*
/puidata/attachments/*
/config/autoload/*
/public/folderFile/*
/public/nodeZimg/*
/public/appone_xml/*
/public/pdf/*
/public/js/node_modules/*
!/vendor/.gitignore
/vendor/*
/files/*
/data/cache/*
/data/perspective_cache/*
/data/AppOnePdfImages/*
/data/view_builder/*
/data/AppOnePdfImages/*
/.idea
/index.php
/puidata/page_plugin/config.php
/sass-theme/.sass-cache
/public/.sass-cache