$font				: 	'Open Sans', sans-serif;
$font-size-xs		: 	11px;
$font-size-small	: 	12px;
$font-size-medium	: 	13px;
$line-height		:  	normal;


$font-weight-light	:	300;
$font-weight-regular:	400;
$font-bold 			:   600;

$font-style-italic	:    italic;	

$left				:   left;
$right				:   right;


$zero				: 	0px;
$None				: 	none;

$brandColor			:   #242f43;
$activebrandColor	:   #24ba9f;

$blackColor			:   #000;
$whiteColor			:   #fff;
$grayColor			:   #999;

$heading-bg			:	#242f43;

$inlne-block		:  inline-block;
$block				:  block;

$fullWidth			:  	100%;
$fullHeight			:  	100%;

$sm-WD				: 	50px;
$md-WD				: 	120px;


// border
$border-size		:  1px;
$border-style		:  solid;

$border-gray		:  	#ccc;
$border-lighter		: 	#e5e5e5;
$border-white		: 	#fff;
$border-black		: 	#000;
$border-transparent	: transparent;


$bg-transparent 	: 	transparent;
$bg-white			: 	#fff;
$bg-gray			: 	#f5f5f5;



$texDecorationNone	: none;


// flex
$flex				: 	flex;
$center				: 	center;
$flow				: 	row wrap;
$row-dir			:   row;
$column-dir			:   column;


// position
$relative 			: 	relative;
$absolute 			: 	absolute;
$fixed				: 	fixed	